@using MianXiangProject.Web.Models.Common.Modals
@using MianXiangProject.SharedCommand;
@using MianXiangProject.Web.Models.SharedDropDownList;
@model MianXiangProject.Web.Models.DataTablesViewDtos.EdtiMXQuestionViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Edit")))

<link href="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
<div class="modal-body">
    <form name="MXQuestionEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.MXQuestionInfo.Id" />
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#edit-MXQuestion-details" data-toggle="tab">详情</a></li>
            <li role="presentation"><a href="#edit-TestQuestions-Other" data-toggle="tab">关联</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-MXQuestion-details">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="QuestionType" class="form-label">题目类型</label>
                            <div class="form-line">
                                @Html.DropDownList("QuestionType", EnumToList<QuestionsTypeEnum>.EnumToDropDownList(Model.MXQuestionInfo.QuestionType), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="Question" class="form-label">题目</label>
                            <div class="form-line">
                                <textarea id="Question" name="Question" class="form-control">
@Model.MXQuestionInfo.Question
</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="margin-top:10px;" hidden>
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="Options" class="form-label">选项</label>
                            <div class="input-group">
                                <div class="input-group-btn" style="width:100px;">
                                    <select class="input-group-btn selectpicker" id="OptionKey" data-live-search="true">
                                        <option data-tokens="A" value="A">A </option>
                                        <option data-tokens="B" value="B">B </option>
                                        <option data-tokens="C" value="C">C </option>
                                    </select>
                                </div><!-- /btn-group -->
                                <div class="form-line">
                                    <input id="OptionsInput" type="text" name="OptionsInput" required maxlength="32" minlength="2" class="validate form-control">
                                </div>
                                <div class="input-group-addon">
                                    @*<button id="AddOption" type="button" class="btn btn-primary "></button>*@
                                    <a id="AddOption" href="#"><i class="material-icons">add</i></a>
                                    <!-- Buttons -->
                                </div>
                            </div>

                        </div><!-- /input-group -->
                    </div>
                </div>
                <div class="OptionInfo">
                    <!-- 多选项 -->
                    @if (Model.GetOptions(Model.MXQuestionInfo.Options) != null)
                    {
                        foreach (var item in Model.GetOptions(Model.MXQuestionInfo.Options))
                        {

                            <div class="input-group">
                                <div class="input-group-btn" style="width:40px;">
                                    <input type="text" value="@item.Key" class="form-control">
                                </div>
                                <div class="form-line">
                                    <input type="text" name="OptionsItme" id="@item.Key" value="@item.Value" class="validate form-control">
                                </div>
                                <div class="input-group-addon">
                                    <a href="#" class="RemoveOption"><i class="material-icons">remove</i></a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="QuestionCate" class="form-label">题目类别</label>
                            <div class="form-line">
                                <input id="QuestionCate" type="text" name="QuestionCate" value="@Model.MXQuestionInfo.QuestionCate" required maxlength="32" minlength="2" class="validate form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="Answer" class="form-label">答案</label>
                            <div class="form-line">
                                @*<input id="Answer" type="text" name="Answer" required maxlength="32" minlength="2" class="validate form-control">*@
                                <textarea id="Answer" name="Answer" class="validate form-control" cols="2">
@Model.MXQuestionInfo.Answer
</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="Tags" class="form-label">标签</label>
                            <div class="form-line">
                                @*<input id="Tags" type="text" name="Tags" required maxlength="32" minlength="2" class="validate form-control">*@
                                <input id="Tags" type="text" name="Tags" data-role="tagsinput" maxlength="100" minlength="1" value="@Model.MXQuestionInfo.Tags" multiple class="validate form-control">
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div role="tabpanel" class="tab-pane animated fadeIn" id="edit-TestQuestions-Other">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <label for="JobId" class="form-label ">岗位</label>
                        <div class="form-group form-float ">
                            <div class="form-line ">
                                @*<select class="selectpicker form-control" data-live-search="true" name="JobId" id="JobId">
                                        @foreach (var jobDorp in Model.MXJobList)
                                        {
                                            <option data-tokens="@jobDorp.Id" value="@jobDorp.Id">@jobDorp.JobName</option>
                                        }

                                    </select>*@
                                @Html.DropDownList("JobId", ClassToDropDownList.MXJobToDropDownList(Model.MXJobList, Model.MXQuestionInfo.JobId), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="CompanyId" class="form-label">公司</label>
                            <div class="form-line  ">
                                @Html.DropDownList("CompanyId", ClassToDropDownList.MXCompanyToDropDownList(Model.MXCompanyList, Model.MXQuestionInfo.CompanyId), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="Sort" class="form-label">排序</label>
                            <div class="form-line">
                                <input id="Sort" type="number" name="Sort" value="@Model.MXQuestionInfo.Sort" multiple class="validate form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <label for="State" class="form-label">@L("State")</label>
                            <div class="form-line">
                                @Html.DropDownList("State", EnumToList<DataState>.EnumToDropDownList(Model.MXQuestionInfo.State), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/MXQuestion/_EdtiMXQuestionModal.js" asp-append-version="true"></script>